.signup-wrapper{
    width: 35%;
    max-width: 450px;
    height: auto;
    box-shadow:var(--shadow) ;
    border-radius: 1rem;
    padding:  1rem 1.5rem;


}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
   
    
}
.mid-text{
    font-size: 0.8rem;
    text-align: center;
    margin-top: auto;


    
}
.login-signup{
    color: blue;
    cursor: pointer;
     
}